.overlay-slide {
  display: block;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5f458c;
  transform: translate3d(0, 100%, 0);
  z-index: 1;
  transition: transform 0.25s linear;

  &.active {
    transform: translate3d(0, 0, 0);
  }
}
