.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  img {
    display: block;
  }
}

.result__images-wrap {
  position: relative;
  display: block;
  width: 67%;
  height: 100%;
  margin-bottom: 14rem;
  max-width: 1200px;

  @media (orientation: portrait) {
    width: 146%;
  }
}

.result__img {
  position: absolute;
  height: auto;

  &_flamingo {
    bottom: 0;
    left: 27%;
    width: 30%;
    min-width: 240px;
    transform: translateY(100%);
    transform-origin: 50% 75%;
    z-index: 3;

    .screen--animated & {
      animation-name: pulse-up-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-fill-mode: both;
    }

    & img {
      opacity: 0;
      max-width: 100%;
      max-height: 100%;
      animation-name: flamingo;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  &_suitcase {
    bottom: 0;
    left: 30%;
    min-width: 300px;
    width: 42%;
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(0, 0.82, 0.72, 1.22);
    transform-origin: 50% 70%;
    z-index: 2;

    .screen--animated & {
      transform: scale(1);
    }
  }

  &_leaf-green {
    left: 56%;
    bottom: 7%;
    min-width: 300px;
    width: 41%;
    z-index: 1;
    opacity: 0;
    transform-origin: left 80%;
    transform: rotate(-10deg);

    .screen--animated & {
      animation-name: waving-green-leaf;
      animation-duration: 2.2s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }
  }

  &_leaf-blue-1 {
    bottom: 10%;
    left: 56%;
    min-width: 250px;
    width: 35%;
    z-index: 0;
    opacity: 0;
    transform-origin: 20% 60%;
    transform: rotate(-30deg);

    .screen--animated & {
      animation-name: waving;
      animation-duration: 2s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }
  }

  &_leaf-blue-2 {
    bottom: 0;
    left: 9%;
    min-width: 250px;
    width: 35%;
    z-index: 0;
    opacity: 0;
    transform-origin: 95% 35%;
    transform: rotate(50deg);

    .screen--animated & {
      animation-name: waving-2;
      animation-duration: 2.2s;
      animation-delay: 0.35s;
      animation-fill-mode: both;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;

  & .form__button {
    opacity: 0;
    color: transparent;
    transition: opacity 0.3s 0.5s, color 0.3s 0.6s;

    .screen--animated & {
      opacity: 1;
      color: $c-dark;
    }
  }

  & .form__field {
    width: 0;
    padding: 0 3rem;
    opacity: 0;
    transition: opacity 0.2s 0.6s, width 0.3s 0.6s, padding 0.1s 0.6s;

    &::placeholder {
      color: transparent;
      transition: color 0.3s 0.7s;
    }

    .screen--animated & {
      opacity: 1;
      width: calc(100% - 31rem);
      padding: 0 5.6rem;

      &::placeholder {
        color: #757575;
      }

      @media (min-width: $stop-scaling) {
        width: calc(100% - 310px);
      }

      @media (orientation: portrait) {
        width: calc(100% - 5rem);
      }

      @media (max-width: $tablet) and (orientation: landscape) {
        width: calc(100% - 9rem);
      }

      @media (max-width: $mobile) and (orientation: landscape) {
        width: calc(100% - 5rem);
      }
    }
  }
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes waving {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  20% {
    opacity: 0.7;
    transform: rotate(7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  40% {
    opacity: 1;
    transform: rotate(-7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  60% {
    transform: rotate(4deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  80% {
    transform: rotate(-2deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes waving-2 {
  0% {
    opacity: 0;
    transform: rotate(50deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  20% {
    opacity: 0.8;
    transform: rotate(-7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  40% {
    opacity: 1;
    transform: rotate(7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  60% {
    transform: rotate(-5deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  80% {
    transform: rotate(3deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes waving-green-leaf {
  0% {
    opacity: 0;
    transform: rotate(-10deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  20% {
    opacity: 0.7;
    transform: rotate(7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  40% {
    opacity: 1;
    transform: rotate(-7deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  60% {
    transform: rotate(4deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  80% {
    transform: rotate(-2deg);
    animation-timing-function: cubic-bezier(0.42, 0.71, 0.56, 0.78);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes flamingo {
  0% {
    opacity: 0;
    transform: rotate(-25deg) translateY(100%);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg)  translateY(0);
  }
}

@keyframes pulse-up-down {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(3%) rotate(3deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
